
/* info ----------------------------------- */
main div#info {
    flex-direction: column;
    justify-content: center;
}

/* text ----------------------------------- */
main div#text {
    flex-direction: column;
}
main div#text .item {
    margin: 0px;
}
main div#text #hi {
    height: 18px;
}
main div#text #name {
    font-size: 40px;
    margin-bottom: 17px;
    min-width: 237px;
}

/* portrait ----------------------------------- */
#portrait {
    flex-shrink: 1;
    width: 100%;
    min-width: 220px;
    max-width: 320px;
    height: auto;
}

/* small screen ----------------------------------- */
@media (max-width: 800px) {
    main {
        flex-direction: column-reverse;
        align-items: center;
    }
    #portrait {
        flex-shrink: 1;
        width: 100%;
        max-width: 200px;
        height: auto;
        padding-bottom: 15px;
    }
    main div#portrait {
    margin-bottom: 0px;
    }
    main div#info {
    margin-top: 0px;
    }
}