div#links {
    align-items: center;
    margin-top: 35px;
}
div#links a img{
    text-decoration: none;
    height: 17px;
}
div#links .item {
    margin-right: 20px;
}
div#links .item.last {
    margin-right: 0px;
}
div#links img {
    height: 100%;
}
div#links img:hover {
    filter: drop-shadow(2px 4px 7px rgb(19, 19, 43));
}